**
!requirements-build.lock
!zensical.toml
!retrieval-rules.yml
!LICENSE
!LICENSES/
!LICENSES/*.txt
!docs/
!docs/**
!overrides/
!overrides/**
!runtime/
!runtime/*.py
!runtime/requirements-mcp.lock
!scripts/
!scripts/v8std_mcp_chunks.py
!scripts/v8std_retrieval_rules.py
!scripts/v8std_search_features.py
!scripts/generate_ai_artifacts.py
!scripts/generate_social_cards.py
!scripts/v8std_markdown.py
!scripts/atomic_files.py
!scripts/publish_license_texts.py
!delivery/
!delivery/__init__.py
!delivery/mcp/
!delivery/mcp/Dockerfile
!delivery/site/
!delivery/site/*.py
!delivery/site/Dockerfile
!delivery/site/site.conf
!delivery/index/
!delivery/index/*.py
!delivery/ci/
!delivery/ci/Dockerfile
