**
!Dockerfile.mcp
!Dockerfile.site
!requirements-mcp.lock
!requirements-build.lock
!requirements.txt
!requirements-mcp.txt
!zensical.toml
!docs/
!docs/**
!overrides/
!overrides/**
!retrieval-rules.yml
!LICENSE
!LICENSES/
!LICENSES/*.txt
!scripts/
!scripts/v8std_mcp_server.py
!scripts/v8std_mcp_runtime.py
!scripts/v8std_mcp_index.py
!scripts/v8std_mcp_snapshots.py
!scripts/v8std_mcp_snapshot_format.py
!scripts/v8std_mcp_hold.py
!scripts/v8std_mcp_presentation.py
!scripts/v8std_mcp_chunks.py
!scripts/v8std_retrieval_rules.py
!scripts/v8std_search_features.py
!scripts/build_local_site.py
!scripts/generate_mcp_snapshot.py
!scripts/generate_ai_artifacts.py
!scripts/generate_social_cards.py
!scripts/v8std_markdown.py
!scripts/atomic_files.py
!scripts/publish_license_texts.py
!deploy/
!deploy/container/
!deploy/container/site.conf
